

body {
    background-color:#5f1350;
    font-family: 'Montserrat Alternates', sans-serif;
}


.grid-container {
display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-template-rows: 75px 700px 3px 100px 300px 400px 100px 100px;
gap: 30px;
}


div .one {
    grid-column: span 3;
    margin-top: 15px;
    display:flex;
    background-color: #702c63;
    color: white;
}

div .space {
    margin-left: 40px;
}

.link {
    color: white;
    text-decoration: none;
}

.two {
    grid-column: span 3;
        width: 700px;
        height: 700px;
        display: block;
        margin: 0 auto;
}

.three {
     
}

.four {
    
}

.five {
    
}

.six {
    grid-column: span 3;
    display:block;
    align-items: center;
    text-align: center;
    color: white;
    background-color: #531046;
    
}


.block {
    height: 300px;
    width: 300px;
    display:inline-block;
    margin: 19%;
    border-radius: 18%;
    
 }

 div .thirteen {
    background-color: #531046;
    grid-column: span 3;
    height: 100px;
    width: 100%;
    margin-top: 5%;
    text-align: center;
    color: white;   

 }




 
 
    
 