

.barra-branca {
    background-color: white;
    height: 40px;
}

body {
    background-color:#FDE2F3;
    font-family: 'Montserrat Alternates', sans-serif;
}
#micro {
    font-size:medium;

}

img {
    height: 200px;
    width: 200px;
    display: block;
    margin: 0 auto;
    
}

 #d2 {
    display:block;
    align-items: center;
    text-align: center;
    background-color: #E5BEEC;
 }
