

body {
    background-color:#FDE2F3;
    font-family: 'Montserrat Alternates', sans-serif;
}


.grid-container {
display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-template-rows: 75px 700px 3px 200px 200px 200px 200px 200px 200px;
gap: 30px;
}


.one-card {
    grid-column: span 3;
    margin-top: 15px;
    display:block;
    text-align: center;
    background-color: #E5BEEC;
}

.two {
    grid-column: span 3;
        width: 700px;
        height: 700px;
        display: block;
        margin: 0 auto;
}

div .three {
    background-color: white;  
}

.four {
    background-color: #E5BEEC;
}

.five {
    background-color: white;
}

.six {
    grid-column: span 3;
    display:block;
    align-items: center;
    text-align: center;
}


.block1 {
    height: 200px;
    width: 200px;
    display:inline-block;
    margin: 25%;
    border-radius: 18%;
 }

 .block2 {
    height: 200px;
    width: 200px;
    display:inline-block;
    margin: 25%;
    border-radius: 18%;
 }

 .block3 {
    height: 200px;
    width: 200px;
    display: inline-block;
    margin: 25%;
    border-radius: 18%;
    
 }

 
 
    
 